# Ignore development-specific files
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore version control files
.git/
.gitignore

# Ignore editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore test files (if you have any)
__tests__/
*.test.js

# Do not ignore index.js as it's needed for the npm package
!index.js

# Ignore any other files or directories specific to your project
# that shouldn't be part of the npm package
